.card{
    width: "18rem" ;
    height: "20rem";
    background-color:ivory;
}



.cardtitle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-style: inherit;
    color: black;

}

.cardsubtitle{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: inherit;
    color: black;

}

.cardtext{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: inherit;
    color: black;

}